
.container{
	min-width: 310px;
	width: 100%;
	height: 250px;
}

.charts-block{
	width: 100%;
}

.charts-block .column{
	display: block;
	vertical-align: top;
}

.charts-block .column.left{
	float: left;
	width: 20%;
	min-width: 306px;
}

.charts-block .column.right{
	float: right;
	width: 79%;
}

.box{
	margin-left: 15px;
}

.chart-block{
	border-top: solid 1px #dcdcdc;
	min-height: 350px;
}

.nodata{
	margin: 10px;
}

.graphs-calendar{
	margin-top: 12px;
	width: 280px;
	height: 28px;
	min-width: 280px;
	/* background-color: #424242; */
	position: relative;
	float: left;
	z-index: 10;
}

.datepicker{

	display: none;
	border: 1px solid #60708d;
	background-color: #fff;
	padding: 3px;
}

.ui-datepicker .ui-datepicker-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.graphs-calendar-period{
	vertical-align: top;
}

.period-btn {

    background-color: #fbfbfb;
    background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: linear-gradient(top, #ffffff, #f5f5f5);
    background-repeat: repeat-x;
    border: 1px solid #ddd;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;

    display:table-cell;
    vertical-align: middle;
	text-align: center;
	height: 24px;
	width: 200px;

	margin-left: 5px;
	margin-right: 15px;

	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;

	color: #4f5661;
	font-size: 14px;
	padding: 3px;
	cursor: pointer;
}

.graphs-header .date-picker-block{
	position: absolute;
	z-index: 100;
	display: none;
	width: 245px;
	height: 205px;
	background-color: #424242;
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	font-size: 14px;
}



.ui-datepicker-calendar td,
.ui-datepicker-calendar th span{
	color: #4f5661;
	font-size: 14px;
}

.dp-highlight .ui-state-default {
	background: #5fabf1!important;
	color: #FFF;
}

.dp-highlight .ui-state-default:hover {
	border: 1px solid #e9c71d;
}

.date-picker-block .datepicker{
	position: absolute;
}

.date-picker-close{

	background-color: #fbfbfb;
	background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
	background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: linear-gradient(top, #ffffff, #f5f5f5);
	background-repeat: repeat-x;
	border: 1px solid #ddd;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
	-webkit-box-shadow: inset 0 1px 0 #ffffff;
	-moz-box-shadow: inset 0 1px 0 #ffffff;
	box-shadow: inset 0 1px 0 #ffffff;

	font-size: 14px;
	padding: 5px;
	cursor: pointer;
	width: 56px;

	top: 0;
	right: 0;
	position: absolute;
	z-index: 200;
	color: #4f5661;
	text-align: center;
	margin-right: 3px;
	display: none;
}

.date-picker-close:hover{
	color: #5fabf1;
}


.events-chart-box{
	min-width: 583px;
}

.graph-menu{
	min-width: 540px;
	height: 50px;
    padding: 0 0 0 20px;
}

.graph-menu-filters{
	width: 260px;
	float: right;
	margin-top: 10px ;
}

.graph-menu-filters select{
	width: 120px;


    background-color: #fbfbfb;
    background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: linear-gradient(top, #ffffff, #f5f5f5);
    background-repeat: repeat-x;
    border: 1px solid #ddd;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;


}

.graph-menu-filters select.filter-unit {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.graph-menu-filters select.filter-type {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -3px;
    border-left: none;
}


